---
layout: page
title: Accordion Demo
---

{% assign accordion_items = site.accordion | sort: 'order' %}

<section class="accordion">

    {% for item in accordion_items %}

        <div class="accordion-item">

            <header class="accordion-header">
                <div class="accordion-header-title">
                    <i class="accordion-icon fas fa-{{ item.icon }}"></i> <span class="accordion-header-title-text">{{ item.title }}</span>
                    <i class="accordion-arrow-icon fas fa-chevron-up"></i>
                </div>

                {% assign banner_image = item.accordion_images_folder | append: item.image %}

                <div class="accordion-banner" style="background-image: url({{ banner_image | relative_url }})"></div>
            </header>

            <div class="accordion-content">

                {% if item.intro %}
                    <div class="accordion-content-intro">
                        {{ item.intro.text }}
                        {% if item.intro.link_text %}
                            <strong><a href="{{ item.intro_link_url }}">{{ item.intro.link_text }}</a></strong>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="accordion-content-text">
                    {{ item.content }}
                </div>
                
                <button class="close-accordion-item">
                    <span class="close-accordion-item-text">Close</span> <i class="close-accordion-item-icon fas fa-times-circle"></i>
                </button>

            </div>

        </div>
    
    {% endfor %}

</section>