---
layout: page
title: Text Rotator
---

<section class="rotator" style="background-image: url({{ site.data.rotator.bg_image | relative_url }})">

    <div class="rotator-inner-wrapper">

        <div class="rotator-intro-text" style="color: {{ site.data.rotator.text_color }}; text-shadow: 1px 1px 2px {{ site.data.rotator.text_shadow_color }}">
            {{ site.data.rotator.intro_text }}
        </div>

        <div class="text-wrapper">

            <div id="text-items" class="text-items">
                {% for item in site.data.rotator.items %}
                    <div class="text-item invisible{% if forloop.last %} text-item-last{% endif %}" style="color: {{ site.data.rotator.text_color }}; text-shadow: 1px 1px 2px {{ site.data.rotator.text_shadow_color }}">
                        {{ item }}
                    </div>
                {% endfor %}
            </div>

        </div>
        
    </div>

</section>