$icon-padding: 16px;

body {
    font-family: sans-serif;
}

.accordion {
    margin: 4em 0;
}

.accordion-item {
    border-top: 1px solid #d4d3d2;
}

.accordion-header {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:hover {
     
        .accordion-header-title {
            color: #fff;
        }

        .accordion-banner {
            opacity: .75;
            transform: translateY(-20%) translateZ(0);
        }

        .accordion-arrow-icon {
            color: #fff;
        }

    }

}

.accordion-header-title {
    font-size: 2em;
    padding: 1em 2em;
    color: #545759;
    position: relative;
    z-index: 2;
    transition: color .5s ease-in-out;
    line-height: 1.2;
}

.accordion-header-title-text {
    position: relative;
    bottom: $icon-padding;
    text-transform: uppercase;
}

.accordion-banner {
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity .675s ease-in-out, transform .675s ease-in-out;
}

.accordion-icon {
    background-color: #85bf00;
    color: #fff;
    padding: $icon-padding;
    border-radius: 100%;
    margin-right: .5em;
}

.accordion-arrow-icon {
    padding: $icon-padding;
    color: #d4d3d2;
    position: absolute;
    right: 5em;
    transition: transform .25s ease-in-out, color .5s ease-in-out;
}

.accordion-content {
    margin: 0 auto;
    max-width: 60em;
    padding: 2em 15% 5em;
    color: #545759;
    font-size: 18px;
    line-height: 1.5;
    display: none;
    position: relative;

    a {
        color: #85bf00;
        text-decoration: none;
        transition: color .25s cubic-bezier(.68,0,1,1),border-color .25s cubic-bezier(.68,0,1,1),opacity .25s cubic-bezier(.68,0,1,1),background-color .25s cubic-bezier(.68,0,1,1);

        &:hover {
            color: #000;
        }
    }

}

.accordion-content-text {
    padding-bottom: 3em;
}

.accordion-content-intro {
    font-size: 24px;
    border-bottom: 1px solid #d4d3d2;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.close-accordion-item {
    position: absolute;
    font-size: 1em;
    right: 3em;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    color: #85bf00;
    text-rendering: optimizeLegibility;
    transition: color .25s cubic-bezier(.68,0,1,1),border-color .25s cubic-bezier(.68,0,1,1),opacity .25s cubic-bezier(.68,0,1,1),background-color .25s cubic-bezier(.68,0,1,1);

    &:hover {
        cursor: pointer;
        .close-accordion-item-text {
            color: #545759;
        }
    }

}

.close-accordion-item-text {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
    vertical-align: top;
    transition: color .25s cubic-bezier(.68,0,1,1);
}

.close-accordion-item-icon {
    font-size: 2em;
    margin-left: .2em;
}

.accordion-item-active {

    .accordion-banner {
        opacity: .75;
        transform: translateY(-20%) translateZ(0) scale(1.2) !important;
    }

    .accordion-header-title {
        color: #fff;
    }

    .accordion-arrow-icon {
        color: #fff;
        transform: translateZ(0) rotateX(180deg);
    }

}