.invisible {
    visibility: hidden;
}

.rotator {
    margin: 3em auto;
    background-image: lightblue;
    height: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 500px;
}

.rotator-inner-wrapper {
    margin-top: 200px;
}

.text-wrapper {
    text-align: center;
    overflow: hidden;
}

.text-items,
.text-item {
    margin: 0;
    padding: 0;
}

.text-items {
    position: relative;
    @media(max-width: 500px){
        height: auto !important;
    }
}

.text-item {

    font-size: 60px;
    position: relative;

    @media(max-width: 1050px){
        font-size: 50px;
    }
    @media(max-width: 950px){
        font-size: 30px;
    }
    @media(max-width: 768px){
        font-size: 25px;
    }
}

.text-item-last {
    @media(max-width: 500px){
        font-size: 35px;
    }    
}

.rotator-intro-text {
    position: relative;
    text-align: center;
    font-size: 20px;
    @media(max-width: 768px){
        font-size: 15px;
    }
    @media(max-width: 500px){
        font-size: 20px;
    }     
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
  
.fadeOutUp {
    animation-name: fadeOutUp;
    animation-duration: .5s;
    animation-fill-mode: both;
}
